<img src="<%= image_src %>" >
<a href="#" rel="popover" data-content='<div class=""><%= name %><br></div>' data-placement="left" class='user_name' data-original-title="<img src='<%= gravatar %>'>" id='<%= name %>'><%= name %></a>